.profile-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.avatar{
    margin: 2rem;;
    border-radius: 50%;
}
.profile-input{
    width: 50%;
}